.app {
  max-width: 100%;
}
/* paging app */
.paging-group {
  width: 80%;
  display: flex;
  margin: 30px auto;
}
.paging-group a {
  flex: 30%;
}
.paging-group a button {
  width: 100%;
}
/* product */
.action-hover {
  color: #1890ff;
  cursor: pointer;
}
.product-table {
  max-width: 90%;
  margin: 0 auto;
  position: relative;
}
.product-img {
  width: 40px;
  height: 40px;
}
/* popup */
.popup-title {
  font-size: 22px;
  text-align: center;
  color: #1890ff;
  margin-bottom: 20px;
}
/* bg overlay */
.bg-overlay {
  z-index: 1;
  position: fixed;
  background-color: #1890ff;
  transition: all 0.3s ease;
  width: 100%;
  height: 100vh;
  top: 0;
  opacity: 0.3;
}